<!DOCTYPE html>
<html>
<head>
  <title>HTMLマークアップでknitr</title>
</head>
<body>

<!--begin.rcode chunk-01, prompt=TRUE,
set.seed(42)
mean(rnorm(10))
end.rcode-->

<p>1から10の平均は<!--rinline mean(1:10)-->です。</p>
</body>
</html>


